html {
    overflow-y: scroll;
}

head {
    font-family: Inter, sans-serif;
    color: #848484;
    font-size: 16px;
    font-weight: 300;
}

body {
    max-width: 800px;
    margin: 0 auto;
    font-family: Inter, sans-serif;
    color: #848484;
    font-size: 16px;
    font-weight: 300;
}

body b {
    color: #666;
}

a {
    color: #72bee1;
    transition: 0.1s
}

a:hover {
    color: #9fd3eb;
}

li {
    line-height: 1.75em;
    letter-spacing: 0.03em;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: #222;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
}

h2 {
    color: #222;
    font-weight: 600;
    font-size: 24px;
}

.book {
    display: inline-block;
    width: 170px;
    height: 320px;
    margin: 8px 8px 8px 8px;
    vertical-align: top;
}

.book p {
    margin-top: 2px;
    font-size: 14px;
    text-align: center;
    line-height: 1.25em;
    color: #222;
}

.book img {
    width: 170px;
    height: 240px;
    margin: 5px 5px 5px 5px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.video-img {
    display: inline-block;
    width: 450px;
    height: 400px;
    margin: 8px 8px 8px 8px;
    vertical-align: top;
}

.video-img p {
    margin-top: 2px;
    margin-left: 10px;
    text-align: left;
    font-size: 16px;
    line-height: 1.25em;
    color: #222;
}

.video-img img {
    width: 450px;
    height: 300px;
    margin: 5px 5px 5px 5px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.video-img .play {
    position: absolute;
    top: 10px;
    width: 100px;
    height: 100px;
}

.video {
    display: inline-block;
    width: 450px;
    height: 400px;
    margin: 12px 12px 24px 12px;
    vertical-align: top;
}

.video-mask {
    width: 95%;
    aspect-ratio: 16/9;
    border-radius: 10px; 
    overflow: hidden; 
}

.video p {
    margin-top: 0px;
    margin-left: 20px;
    text-align: left;
    font-size: 16px;
    text-align: left;
    line-height: 1.25em;
    color: #222;
}

h3 {
    color: #444;
    font-weight: 300;
    font-size: 18px;
    margin-left: 15px;
}

h4 {
    color: #444;
    font-size: 16px;
    margin-left: 30px;
}

p {
    line-height: 1.75em;
    letter-spacing: 0.03em;
    text-indent: 0px;
    margin-bottom: 0px;
}

p b {
    color: #444;
}

.p1 {
    margin-left: 15px;
}

.p2 {
    margin-left: 30px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.content {
    padding: 20px 20px 20px 20px;
}

.row {
    display: flex;
}
  
.column {
    flex: 50%;
}

.btn {
    background-color: #72bee1;
    font-weight: 400px;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #9fd3eb;
    transition: 0.3s;
}

.btnalt {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #848484;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.btnalt:hover {
    background-color: #efefefef;
    transition: 0.3s;
}

iframe {
    margin: 20px 20px 20px 20px;
    border: none;
    width: 100%
}

table {
    border-collapse: collapse;
    width: 100%;
    padding: 5px;
}

th {
    padding: 10px 10px 10px 10px;
}

td {
    width: 25%;
    padding: 10px 10px 10px 10px;
}

tbody tr:nth-child(odd) {
    background-color: #eeeeee;
}

tbody tr:nth-child(1) {
    background-color: #ddd;
    color: #666;
}

td:first-child,
th:first-child {
  border-radius: 5px 0 0 5px;
}

td:last-child,
th:last-child {
  border-radius: 0 5px 5px 0;
}


/* Navbar */

.navbar {
    max-width: 800px;
    overflow: hidden;
    font-weight: 300;
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center;
}

.navbar a {
    float: left;
    color: #848484;
    display: block;
    text-align: center;
    padding: 10px 10px;
    margin: 5px 5px 5px 5px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
}

.navbar .active {
    color: black;
    font-weight: 400;
}

.navbar .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropdown-button {
    font-size: 17px;
    color: #848484;
    border: none;
    outline: none;
    padding: 10px 10px;
    margin: 5px 5px 5px 5px;
    background-color: inherit;
    font-family: inherit;
    font-weight: 300;
    border-radius: 5px;
}

.dropdown-button .active {
    color: black;
    font-weight: 400;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f4f4f4;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin: 0px;
}

.navbar a:hover, .dropdown:hover .dropdown-button {
    background-color: #eee;
    color: #72bee1;
}

.dropdown-content a:hover {
    background-color: #eee;
    color: #72bee1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child), .dropdown .dropdown-button {
        display: none;
    }

    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar {
        display: block;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .navbar.responsive {
        position: relative;
    }

    .navbar.responsive .icon {
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .navbar.responsive .dropdown {
        float: none;
    }

    .navbar.responsive .dropdown-content {
        position: relative;
        border-radius: 5px;
        box-shadow: none;
        margin: 5px;
    }

    .navbar.responsive .dropdown .dropdown-button {
        display: block;
        width: 100%;
        text-align: left;
    }
}
