html {
    font-family: Inter, sans-serif;
    overflow-y: scroll;
}

head {
    color: #848484;
    font-size: 16px;
    font-weight: 300;
    max-width: 800px;
    letter-spacing: 0.03em;
    font-weight: 300;
}

body {
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    color: #848484;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.03em;
}

body b {
    color: #666;
}

.home-row {
    display: flex;
}

.home-left {
    width: 60%;
}

.home-right {
    width: 40%;
}

.home-right img {
    max-width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    margin-left: 20px
}

@media screen and (max-width: 700px) {
    .home-row {
        display: block;
    }

    .home-left {
        width: 100%;
    }

    .home-right {
        width: 90%;
        padding-top: 40px;
    }

    .home-right img {
        margin-right: 20px;
        aspect-ratio: 5/3;
    }
}

.wide {
    max-width: 1000px;
}

.wide-margin {
    margin-left: 100px;
    margin-right: 100px;
}

a {
    color: #72bee1;
    transition: 0.1s
}

a:hover {
    color: #9fd3eb;
}

li {
    line-height: 1.75em;
    letter-spacing: 0.03em;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: #222;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
}

h2 {
    color: #222;
    font-weight: 600;
    font-size: 24px;
}

.book {
    width: 19%;
    height: 320px;
    padding: 8px 8px 8px 8px;
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
}

@media screen and (max-width: 850px) {
    .book {
        width: 24%;
    }
}

@media screen and (max-width: 700px) {
    .book {
        width: 32%;
    }
}

@media screen and (max-width: 600px) {
    .book {
        width: 45%;
    }
}

.book p {
    margin-top: 2px;
    font-size: 14px;
    text-align: center;
    line-height: 1.25em;
    color: #222;
}

.book img {
    width: 100%;
    height: 240px;
    margin: 5px 5px 5px 5px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.video-img {
    width: 49%;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.video-img p {
    margin-top: 2px;
    margin-left: 10px;
    text-align: left;
    font-size: 16px;
    line-height: 1.25em;
    color: #222;
}

.video-img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.video-img .play {
    position: absolute;
    top: 10px;
    width: 100px;
    height: 100px;
}

.video {
    display: inline-block;
    width: 450px;
    height: 400px;
    margin: 12px 12px 24px 12px;
    vertical-align: top;
}

.video-mask {
    width: 95%;
    aspect-ratio: 16/9;
    border-radius: 10px; 
    overflow: hidden; 
}

.video p {
    margin-top: 0px;
    margin-left: 20px;
    text-align: left;
    font-size: 16px;
    text-align: left;
    line-height: 1.25em;
    color: #222;
}

h3 {
    color: #444;
    font-weight: 300;
    font-size: 18px;
    margin-left: 15px;
}

h4 {
    color: #444;
    font-size: 16px;
    margin-left: 30px;
}

p {
    line-height: 1.75em;
    letter-spacing: 0.03em;
    text-indent: 0px;
    margin-bottom: 0px;
}

p b {
    color: #444;
}

.p1 {
    margin-left: 15px;
}

.p2 {
    margin-left: 30px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.content {
    padding: 20px 20px 20px 20px;
}

.row {
    display: flex;
}
  
.column {
    flex: 50%;
}

.btn {
    background-color: #72bee1;
    font-weight: 400;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #9fd3eb;
    transition: 0.3s;
}

.btnalt {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #848484;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.btnalt:hover {
    background-color: #efefefef;
    transition: 0.3s;
}

iframe {
    margin: 20px 20px 20px 20px;
    border: none;
    width: 100%
}

table {
    border-collapse: collapse;
    width: 100%;
    padding: 5px;
}

.table th {
    padding: 10px 10px 10px 10px;
}

.table td {
    width: 25%;
    padding: 10px 10px 10px 10px;
}

.table tbody tr:nth-child(odd) {
    background-color: #eeeeee;
}

.table tbody tr:nth-child(1) {
    background-color: #ddd;
    color: #666;
}

.table td:first-child,
.table th:first-child {
  border-radius: 5px 0 0 5px;
}

.table td:last-child,
.table th:last-child {
  border-radius: 0 5px 5px 0;
}

/* Navbar */

.navbar {
    max-width: 800px;
    overflow: hidden;
    font-weight: 300;
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center;
}

.navbar a {
    float: left;
    color: #848484;
    display: block;
    text-align: center;
    padding: 10px 10px;
    margin: 5px 5px 5px 5px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
}

.navbar .wide {
    margin-left: 100px;
}

.navbar .active {
    color: black;
    font-weight: 400;
}

.navbar .icon {
    display: none;
}

/* ========== Dropdown ========== */

.dropdown {
    overflow: hidden;
}

.dropdown .dropdown-button,
.submenu .submenu-button {
    font-size: 17px;
    color: #848484;
    border: none;
    outline: none;
    padding: 10px 10px;
    margin: 5px 5px 5px 5px;
    background-color: inherit;
    font-family: inherit;
    font-weight: 300;
    border-radius: 5px;
    text-align: left;
    cursor: pointer;
}

.submenu .submenu-button {
    padding-left: 16px;
    font-size: 16px;
    letter-spacing: 0.03em;
    margin: 0px 0px 0px 0px;
    width: 100%;
}

.dropdown-button .active,
.submenu-button .active {
    color: black;
    font-weight: 300;
    border: none;
    outline: none;
}

.dropdown-content,
.submenu-content {
    display: none;
    position: absolute;
    background-color: #f4f4f4;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    text-align: left;
}

.dropdown-content a,
.submenu-content a {
    float: none;
    font-size: 16px;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin: 0px;
}

.navbar a:hover,
.dropdown:hover .dropdown-button,
.submenu:hover .submenu-button {
    background-color: #eee;
    color: #72bee1;
}

.dropdown-content a:hover,
.submenu-content a:hover {
    background-color: #eee;
    color: #72bee1;
}

.submenu .submenu-button i {
    padding-left: 12px;
    float: right;
}

@media screen and (min-width: 600px) {
    .submenu-content {
        left: 100%;
        transform: translate(-0%, -38px);
        min-width: 160px;
    }

    .dropdown:hover .dropdown-content,
    .submenu:hover .submenu-content {
        display: block;
    }
}

/* ========== Other ========== */

code {
    font-size: 14px;
}

@media screen and (max-width: 600px) {
    .dropdown:focus .dropdown-content,
    .submenu:focus .submenu-content {
        display: block;
    }

    .video-img {
        width: 100%;
    }

    .wide {
        max-width: 800px;
    }

    .wide-margin {
        margin-left: 0px;
        margin-right: 0px;
    }

    .navbar a:not(:first-child), .dropdown .dropdown-button {
        display: none;
    }

    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar {
        display: block;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .navbar.responsive {
        position: relative;
    }

    .navbar.responsive .icon {
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .navbar.responsive .dropdown {
        float: none;
    }

    .navbar.responsive .dropdown-content,
    .submenu-content {
        position: relative;
        border-radius: 5px;
        box-shadow: none;
        margin: 5px;
    }

    .navbar.responsive .dropdown .dropdown-button {
        display: block;
        width: 100%;
        text-align: left;
    }
}

/* Styling for github gists */

body .gist {
    padding-left: 30px;
}

body .gist .gist-file {
  margin-bottom: 0;
  border-radius: 5px;
  max-width: 800px;
}

body .gist .gist-data {
  border-bottom: none;
  border-radius: 5px;
  background-color: #fafafa;
}

body .gist .blob-wrapper {
  border-radius: 5px;
}

body .gist .highlight {
  background-color: transparent;
  font-size: 14px;
}

body .gist .highlight td {
  padding: 5px 10px !important;
  line-height: 1;
  font-family: inherit;
  font-size: inherit;
}

body .gist tr:first-child td {
  padding-top: 10px !important;
}

body .gist tr:last-child td {
  padding-bottom: 10px !important;
}

body .gist .blob-num {
  color: #ced4da;
  pointer-events: none;
}

body .gist .gist-meta {
  display: none;
}

.chart {
    border-radius: 10px;
    margin-bottom: 30px;
}