body {
    max-width: 800px;
    margin: 0 auto;
    font-family: Inter, sans-serif;
    color: #848484;
    font-size: 16px;
    font-weight: 300;
}

body b {
    color: #666;
}

a {
    color: #72bee1
}

li {
    line-height: 1.75em;
    letter-spacing: 0.03em;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: #222;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
}

h2 {
    color: #222;
    font-weight: 600;
    font-size: 24px;
}

.book {
    display: inline-block;
    width: 170px;
    height: 320px;
    margin: 8px 8px 8px 8px;
    vertical-align: top;
}

.book p {
    margin-top: 2px;
    text-align: left;
    font-size: 14px;
    text-align: center;
    line-height: 1.25em;
    color: #222;
}

.book img {
    width: 170px;
    height: 240px;
    margin: 5px 5px 5px 5px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

h3 {
    color: #444;
    font-weight: 300;
    font-size: 18px;
    margin-left: 15px;
}

h4 {
    color: #444;
    font-size: 16px;
    margin-left: 30px;
}

p {
    line-height: 1.75em;
    letter-spacing: 0.03em;
    text-indent: 0px;
    margin-bottom: 0px;
}

p b {
    color: #444;
}

.p1 {
    margin-left: 15px;
}

.p2 {
    margin-left: 30px;
}

.navbar {
    width: 800px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    font-weight: 300;
    padding-top: 15px;
    padding-bottom: 10px;
    max-width: 800px;
}

.navbar a {
    float: left;
    color: #848484;
    text-align: center;
    padding: 10px 10px;
    margin: 5px 5px 5px 5px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s;
    border-radius: 5px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
}

.navbar a:hover {
    background-color: #eee;
    color: #72bee1
}

.navbar a.active {
    /*background-color: #67cbe6;
    color: white;*/
    color: black;
    font-weight: 400
}

.navbar .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
        float: right;
        display: block;
    }
}
  
@media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.content {
    padding: 20px 20px 20px 20px;
}

.row {
    display: flex;
}
  
.column {
    flex: 50%;
}

.btn {
    background-color: #72bee1;
    font-weight: 400px;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #9fd3eb;
    transition: 0.3s;
}

.btnalt {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #848484;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.btnalt:hover {
    background-color: #efefefef;
    transition: 0.3s;
}

iframe {
    margin: 20px 20px 20px 20px;
    border: none;
    width: 100%
}